body {
    font-family: 'Comfortaa', cursive;
    background-image: url("../img/backgroundImage.jpg");
}

.active {
    font-weight: bold;
}

.main__texto {
    text-shadow: 2px 3px #000000;
    padding-top: 100px;
}

/*Início página main */

.card {
    border: 1px solid black;
    border-radius: 10px;
}

.card img {
    height: 200px;
}

.card-img-top {
    object-fit:contain;
    padding: 20px;
}

.cards__pagina--principal {
    padding-top: 20px;
}

.imagem__botao {
    max-height: 30px;
}

@media screen and (max-width: 453px) {
    .brand_desc {
        display: none;
    }
}

/* Página Main Completa */

/*Início página adicionar */

.form__adicionar {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
}

.informacao__form {
    font-size: 1.4rem;
    font-weight: bold;
}

/*Fim página adicionar*/

/* Início página sobre */

.fotoCarrossel{
    width: auto;
    max-width: 50%;
    height: 500px;
    margin: auto;
    border-radius: 15px;
}

.carousel-caption {
    border-radius: 10px;
    background-color: #000000;
}

.textoMobile {
    display: none;
    color: #FFFFFF;
    padding: 5px 10px;
}

@media screen and (max-width: 767.98px) {    
    .fotoCarrossel{
        height: 400px;
    }

    .textoMobile {
        display: block;
    }
}


@media screen and (max-width: 453px) {
    .fotoCarrossel{
        max-width: 100%;
        object-fit: contain;
    }
}

/* Páginas de Pesquisa */

.area__pesquisar {
    max-width: 400px;
    padding: 0 5px;
}

.botao__pesquisar {
    background-color: #FFFFFF;
}

/* Página formulários */

.error {
    color: #FF0000;
}